* {
  /* border: 1px solid black; */
  background: beige;
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}

/* .rec-crd-img {
    width: 50%;
    height: 50%;
} */

header {
  display: flex;
}
header h1 {
  color: #161d6f;
  font-family: "Rock Salt", cursive;
  font-weight: bolder;
  font-size: 5vh;
  width: 80%;
  margin-left: 20px;
  text-decoration: underline;
}
header a {
  width: 30%;
}
header #saved-btn {
  background-color: #c7ffd8;
  width: 10vw;
  height: 5vh;
  border-radius: 15%;
  margin-left: 30%;
  margin-top: 10%;
}
h2 {
  margin: 0 0 0 2px;
}
#ing-input {
  width: 100%;
  margin: 10px 5px 0 3px;
}
#submit-btn {
  background-color: #c7ffd8;
  width: 10vw;
  height: 5vh;
  border-radius: 15%;
  margin: 10px 0 10px 3px;
}
#ing-input {
  padding: 15px 15px;
  width: 500px;
}
